html, body{
    overflow-x: hidden;

    width: 100%
}

h1{
    color: rgb(76, 125, 165);

    text-align: center;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 42px;
}

h2{
    color:aqua;

    text-align: center;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 28px;

    padding-bottom: 30px;
}

p{
    color: lightblue;

    text-align: left;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 20px;

    padding-left: 5px;

    padding-right: 15px;
}

body{
    background-color: rgb(29, 29, 29);
}

img {
    display: block;

    margin: auto;
}

a{
    text-align: left;
    
    display: block;
}

.navbar {
    overflow: hidden;

    background-color: #cdc1c1;

    position: fixed;

    top: 0;

    width: 100%
}

.centered {
    text-align: center;
}

.navbar h1{
    padding-left: 45px;

    color: black;
}

.topnav-right {
  float: right;
}

ul {
    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

    float: right;
}

.navbar a {
    float: right;

    display: block;

    text-align: center;

    padding: 0px 45px 0px 12px;

    text-decoration: none;

    font-size: 16px;

    color: black;
}

.main {
    margin-top: 50px;
}

#Home, #Projects, #Contact{
    background-color: rgb(29, 29, 29);

    width: 100%;
}

#Home, #Projects{ 
    min-height: 100vh;
}

#Home div{
    margin-top: 5%;
}

#Contact{
    margin-top: 50px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 22px;

    padding-bottom: 15px;
  }

  p {
    font-size: 16px;

    padding: 0 10px;
  }
}